@charset "UTF-8";
/* CSS Document */

/* ================ TEXTO ================ */

body {font-family: "Myriad Pro", Arial; font-size: 13px;}

b, strong {
  font-weight: bold;
}
pre {
  white-space: pre-wrap;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/* ================ LISTA ================*/

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul, ol ul, ul ol, ol ol {
  margin-bottom: 0;
}

/* ================ LINK ================ */

img {
  border: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover, a:focus {
  color: #7780ab;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


/* ================ FORMULÁRIO =============== */

label {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 15px;
}

input[type="text"], input[type="password"] {margin: 0 10px 0 0;}

.btn-padrao {
	background: url(../images/btn-padrao.png) no-repeat;
	width: 97px;
	height: 40px;
	border: 0;
	color: #fff;
	font-size: 15px;
	font-weight: normal;
}

.input { 
	width: 287px;
	height: 38px;
	padding-left: 19px;
	color: #00278e;
	font-size: 15px;
	border: 1px solid #7d7c7c;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	background: #c1bfbf; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #c1bfbf 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#c1bfbf 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#c1bfbf 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1bfbf',GradientType=0 ); /* IE6-9 */
	
	
}